{% extends "base.template.html" %}

{% block content %}
<h1>Shopping Cart</h1>
<ul class="list-group">
    {% for key, item in cart.items %}
    <li class="list-group-item">
        Product Name: {{item.name}}
        <p>
            Product Price: {{item.price}}
        </p>
        <p>
            Quantity: {{item.qty}}
        </p>
        <p>
            <a href="{% url 'remove_from_cart' product_id=item.id %}" class="btn btn-danger">Remove</a>
        </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}