{% extends 'base.template.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Pampas Collective
{% endblock %}

{% block content %}
<section class="featurette-one container-fluid py-4">
    <div class="col-md-4 p-lg-5 mx-auto my-5">
        <h1 class="display-4 featurette-one-text">Pampas Collective</h1>
        <p class="lead featurette-one-text">Add class & nature to your home</p>
        <a class="btn btn-dark btn-outline-secondary text-light btn-lg featurette-one-text" href="/products">Shop Now</a>
    </div>
</section>
<section class="product-types container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=1">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/artificial-pampas.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Artificial Pampas</h1>
                    <p class="small card-content mx-auto">The pampas look, without the hassle</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=2">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/natural-pampas.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Natural Pampas</h1>
                    <p class="small card-content mx-auto">The original work from mother nature</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=3">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/gingko-gold.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Gingko Leaf Decor</h1>
                    <p class="small card-content mx-auto">Gingko Biloba Decor, crafted with care</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=4">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/gold-eucalyptus.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Artificial Plant Decor</h1>
                    <p class="small card-content mx-auto">Witherless, fresh looks for your home</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=5">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/bunnytail.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Bunnytail</h1>
                    <p class="small card-content mx-auto">For your mini home bouquets</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=6">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/palm-leaf.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">Palm Leaf</h1>
                    <p class="small card-content mx-auto">Statement pieces for your outdoor functions</p>
                </div>
            </a>
        </div>

    </div>

</section>
<hr class="my-3" />
<div class="container my-3">
    <article class="row featurette">
        <div class="col-md-5">
            <img class="featurette-two-img rounded mx-auto d-block"
                src="{% static 'images/pampas-collective-logo.jpeg' %}" />
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading mt-4">
                <span class="text-muted">About Pampas Collective</span>
            </h2>
            <p class="lead">
                Falling in love with balinese tropical/dried botanical arrangements in the villas of bali, pampas collective was then started by Melody Amanda with the mission of bringing that level of luxury, class to your home, through the presence of natural/artificial botanical crafts
            </p>
        </div>

    </article>
</div>
{% endblock %}