{% extends 'base.template.html' %}
{% load static %}

 {% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Pampas Collective
{% endblock %}

{% block content %}
<section class="featurette-one container py-4">
    <div class="col-md-4 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-light">Natural Pampas</h1>
        <p class="lead font-weight-normal text-light">Adding a touch of class to your home</p>
        <a class="btn btn-outline-secondary text-light" href="/products">View Products</a>
    </div>
</section>
{% endblock %}