{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Product Listing
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-inline d-flex justify-content-center" method="GET">
        <div class="form-group my-3">
            {{search_form|crispy}}
            <input type="submit" class="btn btn-dark" value="Search Products">
        </div>
    </form>
</div>
<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Our Products</h1>
            <p class="lead text-muted">Specially curated for your home decor needs</p>
        </div>
    </section>

    <section class="row">
        {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="{{product.image}}" />
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% url 'view_product_details_route' product_id=product.id %}">{{product.name}}</a>
                    </h5>
                    <p class="card-text mb-0">{{product.product_type}}</p>
                    <p class="card-text mb-0">{{product.price}}</p>
                    <p class="card-text mb-0">{{product.colour}}</p>
                    <p class="card-text mb-0">{{product.length}}</p>
                    {% for tag in product.tag.all %}
                    <p class="card-text mb-0">{{tag}}</p>
                    {% endfor %}
                    <p class="card-text">{{product.quantity}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}