{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Product Listing</title>
</head>

<body>
    <h1>Product Listing</h1>
    <p>
        List of Mel's Pampas Grass products
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Colour</th>
                <th scope="col">Length</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.price_in_cents}}</td>
                <td>{{product.colour}}</td>
                <td>{{product.length}}</td>
                <td>{{product.desc}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>