{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}   
Product Listing
{% endblock %} 

{% block content %} 
    <h1>Product Listing</h1>
    {% if request.user.is_authenticated  %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please <a href="/accounts/login">Login</a></p>
    {%endif%}
    <p>
        List of Mel's Pampas Grass products
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Colour</th>
                <th scope="col">Colour</th>
                <th scope="col">Length</th>
                <th scope="col">Description</th>
                <th scope="col">Tags</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.product_type}}</td>
                <td>$ {{product.price}}</td>
                <td>{{product.colour}}</td>
                <td>{{product.length}} cm</td>
                <td>{{product.desc}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.tag}}</td>
                <td><a href="{% url 'update_product_route' product_id=product.id %}">Update</a></td>
                <td><a href="{% url 'delete_product_route' product_id=product.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
    
</html>